.login-container {
  background-color: rgb(255, 255, 255);
  margin: 50px auto;
  max-width: 100%;
  width: 400px;
}

.simple-login-container {
  margin:  auto;
  max-width: 100%;
  width: 300px;
}
.simple-login-container h2 {
  font-size: 20px;
  margin-bottom: 45px;
  text-align: center;
}

.simple-login-container .btn-login {
  background-color: #189ab4;
  color: #fff;
}

.simple-login-container .btn-register {
  background-color: #05445e;
  color: #fff;
}

a {
  color: #fff;
}

.formContainer label {
  display: block;
  margin: 20px;
}

.formContainer input {
  display: block;
}

@media screen and (min-width: 768px) {
  .login-container {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: rgb(23, 162, 184) 1px solid;
  }
}
